svg {
	max-width: 100%;
	max-height: 80vh;
}

svg path {
	cursor: pointer;
	stroke: white;
	stroke-width: 2px;
}

svg path.selected {
}

svg path.forest {
	fill: #439B15;
}

svg path.desert {
	fill: #E6A644;
}

svg path.water {
	fill: #2851C1;
}

svg path:hover {
	opacity: .8;
}

.column.info:not(.visible) {
	display: none;
}

.button.to-board {
	margin-top: 20px;
}